flow-typed/**/*.*
mobile/android/**/*.*
mobile/ios/**/*.*
mobile/node_modules/**/*.*
web/node_modules/**/*.*
**/node_modules/*
**/core/node_modules/*
!**/core/node_modules/
!**/web/node_modules/
web/.next/**/*.*
mobile/assets/**/*.*
mobile/build/**/*.*
mobile/static/**/*.*
mobile/build/**/*.*
mobile/static/**/*.*
node_modules/**/*.*